/* BuilderTools.jsx styling*/
.builderTools {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    margin: 20px 0;
    padding: 0 20px;
}

.builderTools div {
    display: flex;
    justify-content: flex-end;
}

.builderTools div button{
    margin-right: 15px;
}

.builderTools div button:first-child {
    position: absolute;
    left: 20px;
}

.builderTools div button:last-child {
    margin-right: 0;
}

/* Chatbox.jsx styling */
.boxContainer {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    height: 73vh;
    background-color: white;
    border: 4px solid #10a37f;
}

.chatBox {
    position: absolute;
    top: 0;
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

#chatContainer {
    left: 20px;
    width: 45vw;
}

.userInput {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    resize: none;
    background-color: rgb(16, 162, 126, 0.2);
    border-top: 4px solid rgb(16, 162, 126, 1);
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.userInput:focus {
    outline: none;
}


/* CredentialForm.jsx styling */

* {
    box-sizing: border-box;
    font-family: Verdana;
}

.credForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(300px, 90%);
    border: 2px solid #10a37f;
    padding-bottom: 120px;

    animation: presentForm 1s ease 0s 1 normal forwards;
}

@keyframes presentForm {
    0% {
        opacity: 0;
        top: 43%;
    }

    100% {
        opacity: 1;
        top: 50%;
    }
}

.formTitle {
    color: white;
    font-weight: 600;
}

.formSkip {
    display: block;
    position: relative;
    color: white;
    font-size: small;
    margin-top: 5%;
    transition: 0.25s;
}

.formSkip:hover {
    color:rgb(157, 255, 0)
}

#formSubmission {
    width: 95%;
}

/* CustomBackground.jsx styling */

.customBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: black;
    z-index: -1;
    overflow: hidden;
}

.customBackground::before,
.customBackground::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(125deg, #000000, #084d3c, #10a37f);
}

.customBackground::after {
    background-image: linear-gradient(135deg, #000000, #17745d, #18b18b);
    opacity: 0;
    animation: gradientTransition 20s ease infinite;
}


@keyframes gradientTransition {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* CustomButton.jsx styling*/
.customButton {
    height: 42.5px;
    border: 2px solid #10a37f;
    color: white;
    background: transparent;
    font-size: x-large;
    font-weight: 900;
}

.customButton:hover {
    border-color: greenyellow;
}


/* InputField.jsx styling */

.inputField {
    position: relative;
    margin-bottom: 5%;
}

.inputField input {
    width: 95%;
    height: 42.5px;
    padding-left: 2%;
    border: 2px solid white;
    outline: none;
    color: white;
    background: transparent;
    transition: 0.25s;
}

.inputField input:hover {
    border-color: greenyellow;
}

.inputField input:focus ~ label,
.inputField input:valid ~ label {
    transform: translateY(-130%);
    font-size: x-small;
    background-color: #084d3c;
}

.inputField label {
    display: inline;
    position: absolute;
    top: 28%;
    left: 4%;
    padding: 0 5px;
    color: white;
    font-size: small;
    pointer-events: none;
    transition: 0.5s;
}


/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar a {
    display: flex;
    height: 100%;
    padding: 0 min(30px, 4vw);
    text-decoration: none;
    align-items: center;
    color: white;
}

.navbar li {
    font-size: clamp(12px, 1vw, 1vw);
    height: 80px;
}

.navbar li:first-child {
    margin-right: auto;
}

.navbar li:first-child a{
    font-weight: bolder;
    font-size: clamp(20px, 3.4vw, 4vw);
}

.navbar li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.navbar ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}


/* Viewport.jsx*/
#viewportContainer {
    right: 20px;
    width: 50vw;
}

.viewportRender {
    width: 100%;
    height: 100%;
    border: none;
}
