/* CredentialForm.jsx styling */

* {
    box-sizing: border-box;
    font-family: Verdana;
}

.credForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(300px, 90%);
    border: 2px solid #10a37f;
    padding-bottom: 120px;
}

.formTitle {
    color: white;
    font-weight: 600;
}

#formSkip {
    display: block;
    position: relative;
    color: white;
    font-size: small;
    margin-top: 5%;
    transition: 0.25s;
}

#formSkip:hover {
    color:rgb(157, 255, 0)
}

/* CustomBackground.jsx styling */

.customBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: black;
    background-image: linear-gradient(125deg, #000000, #084d3c, #10a37f);
    z-index: -1;
}


/* CustomButton.jsx styling*/
.customButton {
    width: 95%;
    height: 42.5px;
    border: 2px solid #10a37f;
    color: white;
    background: transparent;
    font-size: x-large;
    font-weight: 900;
}

.customButton:hover {
    border-color: greenyellow;
}


/* InputField.jsx styling */

.inputField {
    position: relative;
    margin-bottom: 5%;
}

.inputField input {
    width: 95%;
    height: 42.5px;
    padding-left: 2%;
    border: 2px solid white;
    outline: none;
    color: white;
    background: transparent;
    transition: 0.25s;
}

.inputField input:hover {
    border-color: greenyellow;
}

.inputField input:focus ~ label,
.inputField input:valid ~ label {
    transform: translateY(-130%);
    font-size: x-small;
    background-color: #084d3c;
    border-radius: 4px;
}

.inputField label {
    display: inline;
    position: absolute;
    top: 28%;
    left: 5%;
    color: white;
    font-size: small;
    pointer-events: none;
    transition: 0.5s;
}


/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar a {
    display: flex;
    height: 100%;
    padding: 0 min(30px, 4vw);
    text-decoration: none;
    align-items: center;
    color: white;
}

.navbar li {
    font-size: clamp(12px, 1vw, 1vw);
    height: 80px;
}

.navbar li:first-child {
    margin-right: auto;
}

.navbar li:first-child a{
    font-weight: bolder;
    font-size: clamp(20px, 3.4vw, 4vw);
}

.navbar ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}
